<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="JsonLocalizationProviderConfiguration" type="Emit.LocalizationProvider.Configuration.JsonLocalizationProviderConfiguration, Emit.LocalizationProvider"/>
  </configSections>

  <JsonLocalizationProviderConfiguration>
    <localizationSources>
      <source name="ValidationRulesLocalization"
              useBaseDirectory = "true"
              sourcePath="\Localization\ValidationRulesLocalization" />
    </localizationSources>
  </JsonLocalizationProviderConfiguration>
  
</configuration>